<h1> <%= @user.username %>'s Matches </h1>
<% if @matches != [] %>
  <div>
    <% @matches.each do |match| %>
      <p><%= match.username %></p>
      <p><%= match.gender %></p>
      <p><%= match.age %></p>
    <% end %>
  </div>
<% else %>
  <h3> No matches </h3>
<% end %>
